body{
  font-family: Helvetica;
  margin: 0;
  background: #F5F5F5;
}
header{
  height: 50px;
  color: white;
  background-color: black;
}
h1{
  text-align: center;
}
h4{
  display: inline-block;
  margin-top: 0;
}
a{
  text-decoration: none;
  color: blue;
}
ul.navigation{
  margin: 0;
  padding-top: 15px;
  width: 80%;
}
ul.profile_menu{
  width: 70%;
  height: 50px;
  margin: 0;
  padding: 0;
  display: inline-block;
}
li{
  height: 50px;
  font-size: 20px;
  display: inline-block;
}
a.header_link{
  height: 15px;
  border: 10px solid black;
  color: white;
  text-decoration: none;
}
a.header_link:hover{
  color: #c0c0c0;
}
div.login_profile{
  width: 100%;
  margin: 0;
  float: right;
}
a.logout_link{
  text-decoration: none;
  color: white;
}
div.logout_link{
  width: max-content;
  float: right;
  margin-top: 15px;
  margin-right: 1vw;
}
div.profile_logo{
  float: right;
}
nav{
  height: 50px;
  width: 65%;
  display: inline-block;
  float: left;
}
aside{
  width: 35%;
  font-size: 20px;
  height: 50px;
  display: inline-block;
  float: right
}
div.header_login_link{
  float: right;
  margin-top: 15px;
}
h1.main_title{
  text-align: left;
}
div.main_content{
  width: 65%;
  height: 89vh;
  margin-left: 5%;
}
p{
  word-wrap:break-word;
  margin-left: 3%;
}
div.news_block{
  background-color: white;
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid gray;
  border-radius: 15px;
  height: 25vh;
  width: 65vw;
}
h1.news_title{
  margin-top: 1vh;
  margin-left: 3%;
  border-bottom: 1px solid black;
}
h3.read_more_title{
  text-align: center;
  color: black;
}
a.read_more{
  text-decoration: none;
}
div.project_blocks{
  margin: auto;
  width: 50vw;
}
div.project_content_block{
  color: black;
  vertical-align: top;
  background-color: white;
  height: 40vh;
  width: 14vw;
  border: 2px solid black;
  border-radius: 20px;
  margin-top: 2vh;
  margin-left: 1vh;
  margin-right: 1vh;
  display: inline-block;
}
h3.project_title{
  word-wrap: break-word;
  margin: 5px auto;
  text-align: center;
  margin-bottom: 0;
}
p.project_content{
  display: block;
}
.project_content_block input{
  display: none;
}
.project_content_block:hover input{
  width: 80%;
  height: 15%;
  margin-left: 10%;
  justify-content: center;
  display: flex;
  align-items: flex-end;
}
.project_content_block:hover p{
  display: none;
}
hr{
  border: none;
  margin: 0;
  height: 1px;
  background-color: black;
}
div.login_boxes{
  width: 20vw;
  height: 32vh;
  margin: auto;
  padding: 2vw;
  margin-top: 4vh;
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
}
input.input_login_box{
  height: 5vh;
  box-sizing: border-box;
  background-color: #fefcaf;
  box-shadow: none;
  width: 100%;
  margin: auto;
  padding: 5px;
  margin-bottom: 2vh;
  margin-top: 1vh;
  border: 1px solid gray;
  border-radius: 3px;
  font-size: 14px;
}
input.login_submit{
  width: 100%;
  height: 5vh;
  margin-top: 3vh;
  font-size: 17px;
  background-color: #28a745;
  background-image: linear-gradient(-180deg,#34d058,#28a745 90%);
  color: white;
  border: 1px solid gray;
  border-radius: 3px;
}
input.login_submit:hover{
  cursor: pointer;
}
img.login_form_img{
  width: 7vw;
  display: block;
  margin: auto;
}
a.forgot_password_link{
  margin-top: 1vh;
  font-size: 11px;
  float: right;
  text-decoration: none;
}
p.no_account{
  font-size: 13px;
  margin: 0;
  margin-top: 2vh;
  white-space: pre;
  text-align: center;
}
a.no_account{
  text-decoration: none;
}
div.registration_boxes{
  border-radius: 3px;
  font-size: 14px;
  box-sizing: border-box;
  border: 1px solid gray;
  width: 45vw;
  height: 50vh;
  padding: 3vw;
  padding-top: 3vh;
  margin: auto;
}
input.registr_input{
  box-sizing: border-box;
  border: 1px solid gray;
  border-radius: 3px;
  padding-left: 3px;
  font-size: 17px;
  width: 39vw;
  margin: auto;
  margin-top: 0.5vh;
  margin-bottom: 3vh;
  height: 5vh;
}
.submit_type_1{
  margin-top: 4vh;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: white;
  width: 100%;
  height: 6vh;
  background-color: #1074e7;
}
h2.choose{
  text-align: center;
  color: black;
}
div.choose_create{
  margin: auto;
  width: 50vw;
}
div.choose_create_news{
  width: 40%;
  margin: 0;
  margin-right: 18%;
  border: 1px solid black;
  display: inline-block;
  height: 50vh;
  border-radius: 30px;
  background-color: white;
}
div.choose_create_news:hover{
  background-color: #E6E6E6;
}
div.choose_create_project{
  width: 40%;
  margin: 0;
  border: 1px solid black;
  display: inline-block;
  height: 50vh;
  border-radius: 30px;
  background-color: white;
}
div.choose_create_project:hover{
  background-color: #E6E6E6;
}
.create{
  height: 5vh;
  width: 25vw;
  font-size: 17px;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 5px;
  box-sizing: border-box;
}
textarea.create_news{
  min-width: 70vw;
  min-height: 25vh;
}
div.create_news_boxes{
  width: 80vw;
  margin: auto;
}
div.create_news_block{
  margin-bottom: 3vh;
}
div.full_news_content{
  font-size: 18px;
  margin-top: 5vh;
  width: 90vw;
  text-indent: 1%;
}
div.full_news_info{
  margin-left: 7vw;
  height: 3vh;
}
h1.full_news_title{
  text-align: left;
  margin-left: 5vw;
  margin-bottom: 2vh;
}
div.confirm_code{
  margin: 15vh;
}
div.confirm{
  width: 80%;
  margin: auto;
}
div.bot{
  width: max-content;
  margin: auto;
  margin-top: 10vh;
}
a.bot{
  font-size: 3vh;
  color: black;
  text-decoration: underline;
}
a.bot:hover{
  color: #595752;
}
h1.code{
  font-size: 7vh;
}
div.profile_main{
  max-width: 50%;
  margin: auto;
  margin-top: 7vh;
  border: 1px solid gray;
  border-radius: 3px;
}
div.profile_info{
  font-size: 20px;
  margin: auto;
}
.profile_info p{
  margin-top: 5vh;
  margin-bottom: 5vh;
}
.green{
  color: green;
}
.red{
  color: red;
}
a.change_vk{
  font-size: 15px;
}
.confirm p{
  text-align: center;
}
.registration_block{
  margin-top: 3vh;
  margin-bottom: 3vh;
}
.message{
  text-align: center;
  color: red;
}
div.change_password_boxes{
  width: 60%;
  margin: auto;
  margin-top: 10vh;
}
div.change_password_block{
  margin-top: 3vh;
  margin-bottom: 3vh;
}
input.change_password_input{
  box-sizing: border-box;
  border: 1px solid gray;
  border-radius: 3px;
  font-size: 17px;
  width: 100%;
  margin: auto;
  margin-top: 0.5vh;
  margin-bottom: 3vh;
  height: 5vh;
}
div.library_main{
  max-width: 50%;
  margin: auto;
  border: 1px solid gray;
  border-radius: 3px;
  margin-top: 7vh;
  margin-bottom: 2vh;
}
div.game_block p {
  margin-top: 5vh;
  margin-bottom: 5vh;
  font-size: 20px;
  display: inline-block;
}
input.library_button{
  float: right;
  margin-top: 5vh;
  margin-right: 3vw;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: white;
  max-width: content;
  height: 4vh;
  background-color: #1074e7;
}
#news_content{
  font-size: 15px;
  width: 100%;
  height: 40vh;
}
#create_author{
  width: 18vw;
}
#submit_public{
  width:30%;
  margin-left: 35%;
  font-size: 17px;
}
#create_h1{
  text-align: center;
}
#submit_reg{
  margin-top: 0;
}
