{%extends "menu.html"%}
{% block content %}
<form action="" method="post">
  <div>
    {{form.hidden_tag()}}
  </div>
  <div class="change_password_boxes">
    <div class="change_password_block">
        {{form.exist_password.label()}}
        {{form.exist_password(class="change_password_input")}}
    </div>
    <div class="change_password_block">
      {{form.new_password.label()}}
      {{form.new_password(class="change_password_input")}}
    </div>
    <div class="change_password_block">
      {{form.repeat_password.label()}}
      {{form.repeat_password(class="change_password_input")}}
    </div>
    <div class="message">
      {{message}}
    </div>
    <div class="change_password_block">
      {{form.submit(class="submit_type_1")}}
    </div>
  </div>
</form>
{% endblock %}
