{% extends "menu.html" %}
{% block content %}
  <h1>Привязка профиля Вконтакте</h1>
  <div class="confirm">
    <p>Пожалуйста, привяжите свой аккаунт Вконтакте.
      Для этого напишите нашему боту этот код с того акканута, который хотите привязать
    Если Вконтакте не будет привязан, то восстановление пароля будет невозможным.</p>
    <div class="confirm_code">
      <h1 class="code">{{code}}</h1>
      <div class="bot">
        <a href="https://vk.com/public194157847" class="bot" target="_blank">Нажмите сюда для перехода к боту</a>
      </div>
    </div>
  </div>
{% endblock %}
