{% extends "menu.html"%}
{%block content%}
  <h1>Добавить проект</h1>
  <form  action="" method="post">
    <div>
      {{form.hidden_tag()}}
    </div>
    <div class="create_news_boxes">
      <div class="create_news_block">
        {{form.title.label()}}
        {{form.title(class="create", minlength="5", maxlength="20")}}
      </div>
      <div class="create_news_block">
        {{form.content.label()}}
        <textarea class="create" id="news_content" name="content" rows="10" cols="20" maxlength="200"></textarea>
      </div>
      <div class="create_news_block">
        {{form.download_link.label()}}
        {{form.download_link(class="create", id="create_author")}}
      </div>
      <div class="create_news_block">
        {{form.submit(class="submit_type_1", id="submit_public")}}
      </div>
    </div>
  </form>
{%endblock%}
