{% extends "menu.html" %}
{% block content %}
  <div class="main_content">
    <h1 class="main_title">О проекте</h1>
    <p class="main_content">Цель проекта - создание мини-сайта компании,
    которая занимается разработкой игр.
    </p>
    <h2>Что будет входить в разработку сайта?</h2>
    <p>У сайта 4 раздела: "Главная", где просто вся информация,
      "Новости", "Проекты" (где будет оформлен список игр этой компании) и
    "Обратная связь", по которой пользователи могут связаться с разрабочиками</p>
    <p>Также есть возможность входа в аккаунт. У аккаунта 2 уровня - разработчик
    и обычный пользователь. Разработчик может добавлять новости и дополнять список проектов</p>
  </div>
{% endblock %}
