{% extends "menu.html" %}
{% block content %}
  <div class="main_content">
    <h1 class="main_title">Проект</h1>
    <p class="main_content">Цель проекта - создание мини-сайта, который теоретически
    может быть компании, занимащейся разработкой игр. Надо запустить 2 файла - run.py и VKbot.py.
    </p>
    <h2>О сайте</h2>
    <p class="main_content">Некоторые функции доступны только при наличии аккаунта. У аккаунта 2 уровня - разработчик
    и обычный пользователь. Уровень определяется в БД булевским значением is_developer.
    Эта переменная по умолчанию False, ее можно сменить только в самой БД.</p>
    <p class="main_content">У обычного пользователя в меню есть 4 основные вкладки, не считаю этой: </p>
      <ul>
        <li>Новости - список опубликованных компанией новостей. Чтобы открыть
        новость полностью, надо войти в профиль</li>
        <li>Проекты - список игр комапании. Если пользователь зашел в аккаунт, то
        он может добавить игру в свою библиотеку. Добавленные игры можно увидеть
        в профиле. Из своей библиотеки пользователь может скачать игру, но так
        как это не настоящие игры, то там просто ссылки на информацию о них)</li>
        <li>Поддержка - в разделе размещена форма, которую пользователь может
        использовать, если нашел ошибку в работе сайта</li>
        <li>Профиль - статистика пользователя: его id, информация о привязанном профиле ВК,
         уровень его аккаунта. Через эту вкладку пользователь также может сменить пароль
         и привязанный ВК. В профиле также находятся игры, которые были добавлены в библиотеку</li>
      </ul>
      <p class="main_content">У администратора вместо вкладки "Поддержка" есть "Сообщения об ошибках",
      где он может увидеть все сообщение об ошибках, которые отправляли пользователи.
      Также у него есть вкладка "Добавить", где администратор может добавить новую новость
      или проект.
      </p>
      <h2>Бот</h2>
        <p class="main_content">Бот написан в файле VKBot.py, он нужен для привязки аккаунта ВКонтакте к профилю, а также
        для восстановления пароля. После регестрации появляется инструкция по привязке
        аккаунта. Если пользователь забыл свой пароль, то он может написать боту
        сообщение "сброс пароля", и если аккаунт, с которого писали это сообщение
        , привязан к какому-то профилю, то пароль у этого у этого профиля сменится
        на случайно сгенерированный, и бот напишет этот пароль, который можно использовать
        для входа в аккаунт и смены пароля на свой.</p>
  </div>
{% endblock %}
