<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="{{ url_for("static", filename="images/favicon.png") }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/menu.css") }}">
  <title>YL Gaming</title>
</head>
<body>
  <header>
    <nav>
      <ul class="navigation">
        <li class="menu"><a href="/" class="header_link">Главная</a></li>
        <li class="menu"><a href="/news" class="header_link">Новости</a></li>
        <li class="menu"><a href="/projects" class="header_link">Проекты</a></li>
        {%if current_user.is_developer%}
          <li class="menu"><a href="/reports" class="header_link">Сообщения об ошибках</a></li>
          <li class="menu"><a href="/create" class="header_link">Добавить</a></li>
        {%else%}
          <li class="menu"><a href="/support" class="header_link">Поддержка</a></li>
        {%endif%}
      </ul>
    </nav>
      <aside>
        {% if current_user.is_authenticated %}
        <div class="login_profile">
          <div class="profile_logo">
            {% set link = "/profile/" + current_user.username %}
            <a href={{link}}>
              <img src="../static/images/profile.jpg" alt="" height="50">
            </a>
          </div>
          <div class="logout_link">
            <a href="/logout" class="logout_link">Выйти</a>
          </div>
        </div>
        {% else %}
        <div class="header_login_link">
          <a href="/login" class="header_link">Войти</a>
        </div>
        {% endif %}
      </aside>
  </header>
  <!-- Begin page content -->
  {%block content%}{%endblock%}
</body>
</html>
