{% extends "menu.html" %}
{% block content %}
  <div class="news_block">
    <h1 class="news_title">Идет разработка сайта!</h1>
    <p class="news_text">С 17 апреля началсь создание нового сайта, а новости - это второй раздел,
      над которым началась работа. На момент записи этого текста он еще не находся
      в базе данных, но все еще впереди.
    </p>
    <div class="news_read_full">
      <a href="#" class="read_more"><h3 class="read_more_title">Читать полностью</h3></a>
    </div>
  </div>
{% endblock %}
