{%extends "menu.html"%}
{% block content %}
<h1 align="center">Регистрация YL Gaming</h1>
<form action="" method="post">
  <div>
    {{form.hidden_tag()}}
  </div>
  <div class="registration_boxes">
    <div class="registration_block">
      <b>{{form.username.label()}}</b>
      {{form.username(class="registr_input", spellcheck="false")}}
    </div>
    <div class="registration_block">
      <b>{{form.password.label()}}</b>
      {{form.password(class="registr_input", minlength="6")}}
    </div>
    <div class="message">{{message}}</div>
    <div class="registration_block" id="submit_reg">
      {{form.submit(class="submit_type_1")}}
    </div>
  </div>
</form>
{% endblock %}
